<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
            <!-- 引入 layui.css -->
            <link rel="stylesheet" href="../css/layui.css">
            <!-- 引入 layui.js -->
            <script src="../js/layui.js"></script>
            <link rel="stylesheet" href="../css/shoppingCart.css">
            <script src="../js/jq1.10.2.js"></script>
           <script src="../js/shoppingCart.js"></script>
</head>
<body>
  <div>
    <div class="boxMax">
      <!-- 顶部 -->
      <div class="topbar">
        <div class="topbar_nav">
          <div class="topbar_left">
            <a href="">小米商城</a>  
            <span class="sep">|</span>
            <a href="">MIUI</a>  
            <span class="sep">|</span>
            <a href="">loT</a>  
            <span class="sep">|</span>
            <a href="">云服务</a>  
            <span class="sep">|</span>
            <a href="">天星数科</a>  
            <span class="sep">|</span>
            <a href="">有品</a>  
            <span class="sep">|</span>
            <a href="">小爱开放平台</a>  
          </div>
          <div class="topbar_user" id="topbar_changeA">
           
            <a href="../view/login.html">登录</a>  
    
            <span class="sep">|</span>
    
            <a href="../view/login.html">注册</a>
            <a></a>
            <span class="sep">|</span>
    
            <a href="">消息通知</a>
    
            <em class="shopping_a">
            <em class="icon_shop"></em>
            <em class="icon_txt">购物车</em>
            </em>
          </div>
           </div>
           
    </div>
    <!-- 搜索框栏目 -->
    <div class="search_nav">
      <div class="search_con">
        <img src="../img/logo.jpg" width="85" height="85">
        <ul>
          <li><a>首页</a> </li>
          <li><a>全部商品</a> </li>
          <li><a>关于我们</a> </li>
        </ul>
        
      
        <div class="search_right">
        
        <input type="text" name="search" id="txt_search" placeholder="请输入你要查找的商品">
        <button class="search_btn">搜索</button>
        
        </div>
        </div>
          
        </div>
      </div>
    </div>
    <div class="details_main">
      <div class="cart_Header">
          <div class="cart_title">
              <p class="icon_p">
                <!-- <i class="layui-icon layui-icon-cart" style="font-size: 30px; color: #1E9FFF;">&#xe657;</i>  -->
                <i class="layui-icon layui-icon-cart" style="font-size: 60px; color: #1E9FFF;"></i>  
            我的购物车 
            </p>
            <span class="tick">
                温馨提示：产品是否购买成功，以最终下单为准哦，请尽快结算
            </span>
          </div>
      </div>
      <table class="layui-table tb_location">
        <colgroup>
          <col width="150">
          <col width="200">
          <col>
        </colgroup>
        <thead>
          <tr>
            <th>全选</th>
            <th>视图</th>
            <th>商品名称</th>
            <th>单价</th>
            <th>数量</th>
            <th>小计</th>
            <th>操作</th>
          </tr> 
        </thead>
        <tbody>
          <tr>
            <td>贤心</td>
            <td>2016-11-29</td>
            <td>人生就像是一场修行</td>
          </tr>
          <tr>
            <td>许闲心</td>
            <td>2016-11-28</td>
            <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
          </tr>
        </tbody>
      </table>
       </div>
    </div>
        <div class="main_bottom">
          <a>商城版权所有归faith说了算嘿嘿</a>
        </div>
  </div>
</div>

</body>
</html>