<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/jq1.10.2.js"></script>
</head>
<body>

    <input type="text" name="numName" id="num" οnkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">
    <button id="btn1">查询</button>
</body>
<script> 
$(function(){
$("#btn1").click(function(){
var index=$("#num").val();
  console.log(index);
})

})

</script>
</html>