<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商城首页</title>
        <!-- 引入 layui.css -->
    <link rel="stylesheet" href="../css/layui.css">
    <!-- 引入 layui.js -->
    <script src="../js/layui.js"></script>
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/jq1.10.2.js"></script>
    <script src="../js/main.js"></script>
  </head>
<body>
  <!-- 顶部 -->
  <div class="topbar">
      <div class="topbar_nav">
        <div class="topbar_left">
          <a href="">小米商城</a>  
          <span class="sep">|</span>
          <a href="">MIUI</a>  
          <span class="sep">|</span>
          <a href="">loT</a>  
          <span class="sep">|</span>
          <a href="">云服务</a>  
          <span class="sep">|</span>
          <a href="">天星数科</a>  
          <span class="sep">|</span>
          <a href="">有品</a>  
          <span class="sep">|</span>
          <a href="">小爱开放平台</a>  
        </div>
        <div class="topbar_user" id="topbar_changeA">
         
          <a href="../view/login.html">登录</a>  

          <span class="sep">|</span>

          <a href="../view/login.html">注册</a>
          <a></a>
          <span class="sep">|</span>

          <a href="">消息通知</a>

          <em class="shopping_a">
          <em class="icon_shop"></em>
          <em class="icon_txt">购物车</em>
          </em>
        </div>
         </div>
         
  </div>
  <!-- 搜索框栏目 -->
  <div class="search_nav">
    <div class="search_con">
      <img src="../img/logo.jpg" width="110" height="100">
      <ul>
        <li><a href="../view/main.html">首页</a> </li>
        <li><a href="../view/goods.html">全部商品</a> </li>
        <li><a>关于我们</a> </li>
      </ul>
    
      <div class="search_right">
      
      <input type="text" name="search" id="txt_search" placeholder="请输入你要查找的商品">
      <button class="search_btn">搜索</button>
      
      </div>
      </div>
        
      </div>
    </div>
  </div>
 
  <!-- 轮播图 -->
  <div class="layui-carousel" id="test1" style="margin: 0 auto;">
    <div carousel-item>
      <div><img src="../img/img22.webp" alt="" height="100%" width="100%"></div>
      <div><img src="../img/img02.webp" alt="" height="100%" width="100%"></div>
      <div><img src="../img/imgwin11.webp" alt="" height="100%" width="100%"></div>
  
    </div>
  </div>
<div class="main_box">
 <div class="main_phone">
  <h5 class="pro_title">手机</h5>
  <div class="pro_content">
    <div class="big_pro">
        <img src="../public/imgs/phone/phone.png" alt="">
    </div>
    
    <ul class="samll_pro" id="phone_dv">
      
      
    </ul>

  </div>  
 </div>
 <div class="main_phone">
  <h5 class="pro_title">家电</h5>
  <div class="pro_content">
    <div class="two_img">
      <li>
        <img src="../public/imgs/appliance/appliance-promo1.png" alt="">
       </li>
       <li class="bottom_li">
        <img src="../public/imgs/appliance/appliance-promo2.png" alt="">
       </li>
    </div>
    
    <ul class="samll_pro" id="tv_dv">
      


                      
      
    </ul>

  </div>  
 </div>
<!-- 配件 -->
 <div class="main_phone">
  <h5 class="pro_title">充电器</h5>
  <div class="pro_content">
    <div class="two_img">
      <li>
        <img src="../public/imgs/accessory/accessory-promo1.png" alt="">
       </li>
       <li class="bottom_li">
        <img src="../public/imgs/accessory/accessory-promo2.png" alt="">
       </li>
    </div>
    
    <ul class="samll_pro" id="list_dv">
      


                      
      
    </ul>

  </div>  
 </div>
</div>
<!--底部-->
<div class="main_bottom">
<a>商城版权所有归faith说了算嘿嘿</a>
</div>
</body>
</html>