<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../js/jq1.10.2.js"></script>
</head>
<body>
  下拉框：
  <select id="ContractStatus" name="ContractStatus">
    <option value="1111">请选择</option>
    <option value="未签署">未签署</option>
    <option value="签署中">签署中</option>
    <option value="已签署">已签署</option>
</select>
</body>
</html>